@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
/*caixa principal*/
.container{
    width: 100%;/*largura*/
    height: 100vh;/*altura*/
    background-image: linear-gradient(#66E627,#a1421d);
    display: flex;
    justify-content: center;
    align-items: center;
}
/*caixa do centro*/
    .card{
        width: 540px;
        background-color: rgba(9,243,24,.5);
        border-radius: 16px;

        display: flex;
        flex-direction: column;
        align-items: center;

        box-shadow: rgba(100,100,111,0.2)0px 7px 29px 0px;

    
}
.profile-img{
    width: 120px;
    border-radius: 50%;
    border: #1da126 5px solid;

    /*sombra do box*/
    box-shadow: rgba(0, 0, 0, 0, 0.35)0px 5px 15px;
    /* direciona o img no eixo y*/
    transform: translateY(-65px);
}